td {
    background-color:blue;
    width: 90px;
    height: 90px;
    text-align: center;
};

td.true {
    background-color: yellow;
    width: 90px;
    height: 90px;
    text-align: center;
};

td.false {
    background-color: red;
    width: 90px;
    height: 90px;
    text-align: center;
};