td {
    background-color:lightblue;
    width: 90px;
    height: 90px;
    text-align: center;
};

td.one {
    background-color: yellow;
    text-align: right;
};

td.two {
    background-color: red;
    text-align: left;
};


