form {
    font-size: 1.5em;
}


.selectorTable {
    background-color: green;
    width:640px;
    height:90px;
}

.selectorCell {
    background-color: lightblue;
    width: 90px;
    height: 90px;
}


.redBG {
    background-color: red;

}

.selectorCell .innerSelectorCell  {
    background-color: white;
    margin: auto;
    text-align: center;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    display: inline-block;
}



#mainTable {
    background-color: blue;
    width:640px;
    height:590px;
}

/* what makes the gridlines go away? */
#mainTable .outerCell {
    background-color: blue;
    width: 90px;
    height: 90px;
    text-align: center;
}

/* why doesn't innerCell work here when it does for outerCell?? */
#mainTable div {
    margin: auto;
    text-align: center;
    background-color: whitesmoke;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    display: inline-block;
}

td.One {
    background-color: yellow;
    border-radius: 50%;
}

td.Two {
    background-color: red;
    border-radius: 50%;
}

/* how do I format the radios correctly? */
#gameTypeChoiceArea {
    background-color: pink;
    width:640px;
    height:120px;
    text-align: left;
}

#twoPlayerChoiceDiv {
    width:320px;
    background-color: green;
    display: inline;
}

#2P {
    display: inline-block;
}

input[type=radio] {
    display: inline;
    border: 0px;
}